In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package() # Note! Working off built package!
#pkg = mp.jupyter.open_source_package()
pkg

# Enrollment by school
`cde.ca.gov-enrollment-1.1.2` Last Update: 2021-03-29T23:49:03

_School-level enrollment by racial/ethnic designation, gender, and grade._


## Documentation Links

* [data_dictionary](https://www.cde.ca.gov/ds/sd/sd/fsenr.asp) Table columns and descriptions.
* [download_page](https://www.cde.ca.gov/ds/sd/sd/filesenr.asp) Enrollment by School download page



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [enrollment_07_18](data/enrollment_07_18.csv)**. School enrollment, 2007 to 2018
* ** [race_eth_07_18](notebooks/raceeth.ipynb#raceeth)**. Simplified structure for race/ethnicity

## References
<ul><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2018-19&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2018</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2017-18&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2017</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2016-17&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2016</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2015-16&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2015</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2014-15&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2014</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2013-14&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2013</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2012-13&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2012</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2011-12&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2011</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2010-11&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2010</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2009-10&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2009</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2008-09&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2008</a></strong>. </li><li> <strong><a href="http://dq.cde.ca.gov/dataquest/dlfile/dlfile.aspx?cLevel=School&cYear=2007-08&cCat=Enrollment&cPage=filesenr.asp#target_format=tsv">enrollment_2007</a></strong>. </li><ul>

In [3]:
enrollment = pkg.resource('enrollment').dataframe()

In [6]:
col_map = {
    0:'na',
    1:'aian',
    2:'asian',
    3:'pi',
    4:'filipino',
    5:'hisp',
    6:'black',
    7:'nh_white',
    8:'unk', # Not in data dictinoary
    9:'two_more'
}

t = enrollment[['cdscode', 'ethnic','year','enr_total']]
raceeth = t.groupby(['cdscode', 'year','ethnic']).sum().unstack()

raceeth.columns = [col_map.get(e,e) for e in raceeth.columns.levels[1]]
raceeth = raceeth.rename({'cdscode':'cdscode'})
raceeth['total'] = raceeth.sum(axis=1)


raceeth = raceeth.fillna(0).astype(int)
raceeth.head(20)

                    na  aian  asian  pi  filipino  hisp  black  nh_white  unk  \
cdscode       year
1100170109835 2007   0    17    385  29        21    99    117       392  226
              2008   0     5    429  19         9    75    125       397  339
              2009  41     6    282  29        25   179    146       731    0
              2010  36    11    290  30        21   182    157       753    0
              2011  32    12    316  32        33   192    148       825    0
              2012  18    14    271  27        36   178    127       730    0
              2013  14    11    263  21        29   186    108       700    0
              2014   6     7    258  21        22   166     86       521    0
1100170112607 2007   0     0      1   0         0    13     83         7    9
              2008   0     0      4   1         0    29    105        10   11
              2009   2     2      3   1         3    57    166        13    0
              2010   3     4      5   1         2    77    190        12    0
              2011   2    12      7   2         2   110    173        17    0
              2012  14     4      5   3         1   124    156        16    0
              2013   2     8      5   4         2   154    145        16    0
              2014   4    10      8   4         2   185    163        11    0
              2015   8     5      7   3         1   209    156        13    0
              2016   0     5      8   5         1   212    150        18    0
              2017   0     6      9   6         1   230    138        11    0
              2018   0     3      6   4         1   217    126        14    0

                    two_more  total
cdscode       year
1100170109835 2007         0   1286
              2008         0   1398
              2009         0   1439
              2010         0   1480
              2011         3   1593
              2012         0   1401
              2013         0   1332
              2014         0   1087
1100170112607 2007         0    113
              2008         0    160
              2009         1    248
              2010         3    297
              2011         8    333
              2012         8    331
              2013         7    343
              2014         8    395
              2015         5    407
              2016         4    403
              2017        12    413
              2018        14    385